# Base API URL
VITE_API_URL=http://localhost:5000/api

# Attendance Service API
VITE_ITEG_ATTENDANCE_API_URL=https://api.ssism.org/api
VITE_ITEG_ATTENDANCE_ENDPOINT=/iteg-attendance
VITE_ITEG_ATTENDANCE_STUDENTS_ENDPOINT=/iteg-attendance
VITE_ITEG_ATTENDANCE_API_KEY=your_attendance_api_key

# Auth Endpoint
VITE_LOGIN_WITH_GOOGLE=/user/google
